<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <form action="/upload-audio" method="POST">
        <label for="db">Db:</label>
        <input type="number" id="db" name="db" required><br><br>
        <label for="hz">Hz:</label>
        <input type="number" id="hz" name="hz" required><br><br>
        <label for="room">Room:</label>
        <input type="text" id="room" name="room" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
